# fly.toml app configuration file
# See https://fly.io/docs/reference/configuration/ for information

app = 'arab-engineers-forum'
primary_region = 'ams'

[build]

[env]
  ASPNETCORE_URLS = "http://0.0.0.0:8080"
  ASPNETCORE_ENVIRONMENT = "Production"
  ASPNETCORE_FORWARDEDHEADERS_ENABLED = "true"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 0
  processes = ['app']

[[vm]]
  memory = '512mb'
  cpu_kind = 'shared'
  cpus = 1
